:root {
    --grid-rows: 16;
    --grid-columns: 16;
}


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto',Impact, 'Arial Narrow Bold', sans-serif;
}
.wrapper {
    min-height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header,footer {
    background-color: #b6e7ff;
    color: black;
    text-align: center;
}

header {
    font-size: 80px;
    padding: 24px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 24px;
}

.options {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:20px;
}

#colourPick {
    height: 48px;
    width: 128px;
    background-color: white;
    border: 3px solid #b6e7ff;
    transition: all 0.3s ease;
    transform: scale(1);
}

button {
    height: 48px;
    width: 128px;
    border-radius: 3px;
    border: 3px solid #b6e7ff;
    background-color: white;
    font-weight: 900;

    transition: all 0.3s ease;
    transform: scale(1);
}

button:hover, #colourPick:hover {
    transform: scale(1.2) perspective(1px);
    background-color: #b6e7ff;
}

.gridLines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sizeSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#sizeSlider {
    width: 128px;
    height: 15px;
}


.canvas {
    display: grid;
    justify-content: center;
    align-content: center;
}

#grid {
    height: 960px;
    width: 960px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    border: 3px solid black;
}

.cell {
    margin: 0;
    padding: 0;
    border: 0px solid gray
}


/* 
//////////////////////////////////////
    w3schools.com css switch template
//////////////////////////////////////
*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: #b6e7ff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #b6e7ff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }