:root {
    --grid-rows: 16;
    --grid-columns: 16;
}


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto',Impact, 'Arial Narrow Bold', sans-serif;
}
.wrapper {
    min-height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header,footer {
    background-color: #b6e7ff;
    color: black;
    text-align: center;
}

header {
    font-size: 80px;
    padding: 32px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.options {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:20px;
}

button {
    height: 48px;
    width: 128px;
    border-radius: 3px;
    border: 3px solid #b6e7ff;
    background-color: white;
    font-weight: 900;

    transition: all 0.3s ease;
    transform: scale(1);
}

button:hover {
    transform: scale(1.2) perspective(1px);
    background-color: #b6e7ff;
}

.canvas {
    display: grid;
    justify-content: center;
    align-content: center;
}

#grid {
    height: 960px;
    width: 960px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    border: 3px solid black;
}

.cell {
    margin: 0;
    padding: 0;
    border: 1px solid black
}
